/* Navbar.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('/public/assets/lastryko.jpg'); /* Absolutna ścieżka do obrazu */
    background-size: cover;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-logo a {
    color: #000; /* Kolor logo na biało, aby pasował do tła */
    font-size: 24px;
    text-decoration: none;
    font-weight: bold; /* Pogrubienie logo */
}

.navbar-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex: 1;
}

.navbar-links li {
    margin: 0 15px;
}

.navbar-links a {
    color: #333; /* Jasny, piaskowy kolor, dobrze kontrastujący z ciemnym tłem */
    text-decoration: none;
    font-size: 18px;
    font-weight: bold; /* Pogrubienie linków */
    transition: color 0.3s ease; /* Płynna zmiana koloru przy najechaniu */
}

.navbar-links a:hover {
    color: #000; /* Zmiana koloru linków przy najechaniu na bardziej intensywny */
    text-decoration: underline;
}

/* Styl dla mniejszych ekranów */
@media (max-width: 768px) {
    .navbar-links {
        flex-direction: column;
        align-items: center;
    }

    .navbar-links li {
        margin: 10px 0;
    }
}
